@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200; 0,6..12,300; 0,6..12,400; 0,6..12,500; 0,6..12,600; 0,6..12,800; 1,6..12,200; 1,6..12,300; 1,6..12,400; 1,6..12,500; 1,6..12,600&familia=Rubik:ital,wght@0,300..900; 1,300..900&family=Espacio+Grotesco:wght@300; 400; 500; 600; 700&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light:rgb(172, 159, 221);
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none ;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.2rem;
}

.texto-footer {
    color: gray;
    font-size: .85rem;
    color: var(--clr-main-light);
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 1rem;
    padding: 2rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.btn-producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.btn-producto-agregar:hover {
    background-color: var(--clr-main);
    color: white;
}


